<h1>Change Password</h1>

<%= form_for @conn, Routes.member_path(@conn, :change_password), fn f -> %>
  <%= label f, :current_password %>
  <%= password_input f, :current_password %>
  <%= error_tag f, :current_password %>

  <%= label f, :new_password %>
  <%= password_input f, :new_password %>
  <%= error_tag f, :new_password %>

  <div>
    <%= submit "Change Password" %>
  </div>
<% end %>
