<section class="phx-hero">
  <h1><%= "Welcome to NYC Charity Crowd!" %></h1>
</section>

<section class="row">
  <article class="column">
    <h2>Resources</h2>
    <ul>
      <li>
        <%= link "Current Nominations", to: Routes.nomination_path(@conn, :index) %>
      </li>
    </ul>
  </article>
  <article class="column">
    <h2>Help</h2>
    <ul>
      <li>
        Coming soon...
      </li>
    </ul>
  </article>
</section>
